/* --------------------- */
/* ---- SOFT RESET ----- */
/* --------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #eee;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1180px;
  font-family: sans-serif;
  margin: 0 auto;
  background: #fff;
  padding: .5rem;
  height: 100vh;
}

/* --------------------- */
/* --- UPLOAD IMAGE ---- */
/* --------------------- */
.upload--panel {
  margin: 0 auto;
  background: #eee;
  width: 35%;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

input.choose--file {
  margin: 0 auto;
}

.upload--image {
  margin-top: 1rem;
}

.text--submit {
  margin-bottom: 2rem;
}

/*----------------------*/
/*--Trilobite image-----*/
/*----------------------*/

.trilo-img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;

}

.trilobite-img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
